.popup__save-btn {
  display: block;
  width: 358px;
  height: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  background-color: #000000;
  border: 0;
  border-radius: 2px;
  color: #FFFFFF;
  margin: 48px auto 37px;
  outline: none;
  cursor: pointer;
}

.popup__save-btn:hover {
  opacity: 0.8;
}

@media (max-width: 617px) {
  .popup__save-btn {
    width: 238px;
    height: 46px;
    font-size: 14px;
    margin: 45px auto 25px;
  }
}
